* {
box-sizing: border-box;
}

body {
    background: black;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.game-container {
    position: relative;
    outline: 1px solid white;
    width: 384px;
    height: 256px;
    margin: 0 auto;
    transform: scale(2) translateY(50%);
}

.game-container canvas {
    image-rendering: pixelated;
}